In [281]:
import pandas as pd

In [282]:
path = 'presidencia.csv'

In [283]:
df = pd.read_csv(path, encoding='latin1', low_memory=False)
df.head()

,CLAVE_CASILLA,CLAVE_ACTA,ID_ESTADO,ESTADO,ID_DISTRITO_FEDERAL,DISTRITO_FEDERAL,SECCION,ID_CASILLA,TIPO_CASILLA,EXT_CONTIGUA,...,CONTABILIZADA,MECANISMOS_TRASLADO,SHA,FECHA_HORA_ACOPIO,FECHA_HORA_CAPTURA,FECHA_HORA_VERIFICACION,ORIGEN,DIGITALIZACION,TIPO_DOCUMENTO,COTEJADA
0,'010000M0100','010000M010001',1,AGUASCALIENTES,0,,,1,M,0,...,1,-,a17d856a260b001c68b498781c1ca71ef9e0bfbc7cb98e...,7/1/18 07:25,7/2/18 07:46,7/2/18 07:46,CATD,ESCÁNER,-,1
1,'010338B0100','010338B010002',1,AGUASCALIENTES,1,Jesús María,338,1,B,0,...,1,F,25af5bfa78cd2bf74f9377e4a266605eea6e478fe27ae8...,7/2/18 07:11,7/2/18 11:33,7/2/18 11:34,CATD,ESCÁNER,Acta PREP,1
2,'010338C0100','010338C010002',1,AGUASCALIENTES,1,Jesús María,338,1,C,0,...,1,F,b8f3fb89dda14167b6cb4f2f4d24a8b205446ac9035311...,7/2/18 07:08,7/2/18 11:23,7/2/18 11:26,CATD,ESCÁNER,Acta PREP,1
3,'010338C0200','010338C020002',1,AGUASCALIENTES,1,Jesús María,338,2,C,0,...,1,F,75562582dc5be7bf9177dfc1458df9a60b9aba746e2225...,7/2/18 06:55,7/2/18 10:43,7/2/18 10:44,CATD,ESCÁNER,Acta PREP,1
4,'010339B0100','010339B010002',1,AGUASCALIENTES,1,Jesús María,339,1,B,0,...,1,F-D,15fd04a75d46e0027204d72f0e8486262e09ff7f7b34b6...,7/2/18 07:12,7/2/18 11:09,7/2/18 11:10,CATD,ESCÁNER,Acta PREP,1

In [284]:
df.shape

(158846, 56)

In [285]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158846 entries, 0 to 158845
Data columns (total 56 columns):
CLAVE_CASILLA                   158846 non-null object
CLAVE_ACTA                      158846 non-null object
ID_ESTADO                       158846 non-null int64
ESTADO                          158846 non-null object
ID_DISTRITO_FEDERAL             158846 non-null int64
DISTRITO_FEDERAL                158842 non-null object
SECCION                         158846 non-null object
ID_CASILLA                      158846 non-null int64
TIPO_CASILLA                    158846 non-null object
EXT_CONTIGUA                    158846 non-null int64
UBICACION_CASILLA               158846 non-null int64
TIPO_ACTA                       158846 non-null int64
TOTAL_BOLETAS_SOBRANTES         158846 non-null object
TOTAL_PERSONAS_VOTARON          158846 non-null object
TOTAL_REP_PARTIDO_CI_VOTARON    158846 non-null object
TOTAL_VOTOS_SACADOS             158846 non-null object
PAN                             158846 non-null object
PRI                             158846 non-null object
PRD                             158846 non-null object
PVEM                            158846 non-null object
PT                              158846 non-null object
MC                              158846 non-null object
PANAL                           158846 non-null object
MORENA                          158846 non-null object
PES                             158846 non-null object
C_PAN_PRD_MC                    158846 non-null object
C_PAN_PRD                       158846 non-null object
C_PAN_MC                        158846 non-null object
C_PRD_MC                        158846 non-null object
C_PRI_PVEM_PANAL                158846 non-null object
C_PRI_PVEM                      158846 non-null object
C_PRI_PANAL                     158846 non-null object
C_PVEM_PANAL                    158846 non-null object
C_PT_MORENA_PES                 158846 non-null object
C_PT_MORENA                     158846 non-null object
C_PT_PES                        158846 non-null object
C_MORENA_PES                    158846 non-null object
CAND_IND_01                     158846 non-null object
CAND_IND_02                     158846 non-null object
NO_REGISTRADOS                  158846 non-null object
NULOS                           158846 non-null object
TOTAL_VOTOS_ASENTADO            158846 non-null object
TOTAL_VOTOS_CALCULADO           158846 non-null object
LISTA_NOMINAL                   158846 non-null object
REPRESENTANTES_PP_CI            158846 non-null object
OBSERVACIONES                   158846 non-null object
CONTABILIZADA                   158846 non-null object
MECANISMOS_TRASLADO             158846 non-null object
SHA                             158846 non-null object
FECHA_HORA_ACOPIO               158846 non-null object
FECHA_HORA_CAPTURA              158846 non-null object
FECHA_HORA_VERIFICACION         158846 non-null object
ORIGEN                          158846 non-null object
DIGITALIZACION                  158846 non-null object
TIPO_DOCUMENTO                  158846 non-null object
COTEJADA                        158846 non-null object
dtypes: int64(6), object(50)
memory usage: 67.9+ MB

In [286]:
df.isnull().any().any()

True

In [287]:
df.columns[df.isnull().any()].tolist()

['DISTRITO_FEDERAL']

In [288]:
len(pd.isnull(df).any(1).nonzero()[0].tolist())

4

In [289]:
pd.isnull(df).any(1).nonzero()[0].tolist()

[157060, 157217, 157934, 157935]

In [290]:
df.dropna(axis=0, inplace=True)

In [291]:
df.shape

(158842, 56)

In [292]:
df.isnull().any().any()

False

In [433]:
df_copy = df.copy()

`ESTADO` - Indica el nombre de la Entidad Federativa a la que corresponde el Acta.

In [434]:
df_copy.ESTADO.unique()

array(['AGUASCALIENTES', 'BAJA CALIFORNIA', 'BAJA CALIFORNIA SUR',
       'CAMPECHE', 'COAHUILA', 'COLIMA', 'CHIAPAS', 'CHIHUAHUA',
       'CIUDAD DE MÉXICO', 'DURANGO', 'GUANAJUATO', 'GUERRERO', 'HIDALGO',
       'JALISCO', 'MÉXICO', 'MICHOACÁN', 'MORELOS', 'NAYARIT',
       'NUEVO LEÓN', 'OAXACA', 'PUEBLA', 'QUERÉTARO', 'QUINTANA ROO',
       'SAN LUIS POTOSÍ', 'SINALOA', 'SONORA', 'TABASCO', 'TAMAULIPAS',
       'TLAXCALA', 'VERACRUZ', 'YUCATÁN', 'ZACATECAS'], dtype=object)

`DISTRITO_FEDERAL` - Nombre del distrito electoral de la entidad acorde al tipo de elección.

In [435]:
df_copy.DISTRITO_FEDERAL.value_counts().head()

Iztapalapa             2485
Tijuana                2453
Juárez                 2284
Ecatepec de Morelos    2220
Guadalajara            2195
Name: DISTRITO_FEDERAL, dtype: int64

In [436]:
df_copy.drop(df_copy[df.DISTRITO_FEDERAL == ' '].index, inplace=True)
df_copy[df.DISTRITO_FEDERAL == ' ']

/Users/jacoboleon/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Empty DataFrame
Columns: [CLAVE_CASILLA, CLAVE_ACTA, ID_ESTADO, ESTADO, ID_DISTRITO_FEDERAL, DISTRITO_FEDERAL, SECCION, ID_CASILLA, TIPO_CASILLA, EXT_CONTIGUA, UBICACION_CASILLA, TIPO_ACTA, TOTAL_BOLETAS_SOBRANTES, TOTAL_PERSONAS_VOTARON, TOTAL_REP_PARTIDO_CI_VOTARON, TOTAL_VOTOS_SACADOS, PAN, PRI, PRD, PVEM, PT, MC, PANAL, MORENA, PES, C_PAN_PRD_MC, C_PAN_PRD, C_PAN_MC, C_PRD_MC, C_PRI_PVEM_PANAL, C_PRI_PVEM, C_PRI_PANAL, C_PVEM_PANAL, C_PT_MORENA_PES, C_PT_MORENA, C_PT_PES, C_MORENA_PES, CAND_IND_01, CAND_IND_02, NO_REGISTRADOS, NULOS, TOTAL_VOTOS_ASENTADO, TOTAL_VOTOS_CALCULADO, LISTA_NOMINAL, REPRESENTANTES_PP_CI, OBSERVACIONES, CONTABILIZADA, MECANISMOS_TRASLADO, SHA, FECHA_HORA_ACOPIO, FECHA_HORA_CAPTURA, FECHA_HORA_VERIFICACION, ORIGEN, DIGITALIZACION, TIPO_DOCUMENTO, COTEJADA]
Index: []

[0 rows x 56 columns]

`TIPO_CASILLA` - Se refiere al tipo de casilla; 
* `B`: Básica
* `C`: Contigua
* `E`: Extraordinaria
* `S`: Especial
* `M`: Mesa de escrutinio, contiene información de voto en el extranjero.

In [437]:
df_copy.TIPO_CASILLA.value_counts()

C    80211
B    68280
E     9105
S     1206
Name: TIPO_CASILLA, dtype: int64

In [438]:
TIPO_CASILLA = pd.DataFrame(df_copy.TIPO_CASILLA.unique())
TIPO_CASILLA.head()

   0
0  B
1  C
2  S
3  E

In [439]:
TIPO_CASILLA.reset_index(inplace=True)
TIPO_CASILLA.columns

Index(['index', 0], dtype='object')

In [440]:
TIPO_CASILLA.rename(columns={0: 'TIPO_CASILLA'}, inplace=True)
TIPO_CASILLA.columns

Index(['index', 'TIPO_CASILLA'], dtype='object')

In [441]:
TIPO_CASILLA['index'] = TIPO_CASILLA['index'] + 1
TIPO_CASILLA

   index TIPO_CASILLA
0      1            B
1      2            C
2      3            S
3      4            E

In [442]:
dict_T = TIPO_CASILLA.to_dict(orient='split')
dict_T.keys()

dict_keys(['index', 'columns', 'data'])

In [443]:
dict_T.pop('index')
dict_T.pop('columns')
dict_T

{'data': [[1, 'B'], [2, 'C'], [3, 'S'], [4, 'E']]}

In [444]:
dict_T['data'][0]

[1, 'B']

In [445]:
dict_T['data'][0][1]

'B'

In [446]:
dict_T['data'][0][0]

1

In [447]:
dict_TIPO_CASILLA = {}

for line in dict_T['data']:
    #print(line[1], ' : ', line[0])
    dict_TIPO_CASILLA[line[1]] = line[0]

dict_TIPO_CASILLA

{'B': 1, 'C': 2, 'E': 4, 'S': 3}

In [448]:
df_copy.TIPO_CASILLA.replace(dict_TIPO_CASILLA, inplace=True)

In [449]:
df_copy.TIPO_CASILLA.value_counts()

2    80211
1    68280
4     9105
3     1206
Name: TIPO_CASILLA, dtype: int64

`UBICACION_CASILLA` - Identifica el tipo de casilla y toma los siguientes valores:
* `1`: Urbana
* `2`: No Urbana

In [450]:
df_copy.UBICACION_CASILLA.value_counts()

1    104302
2     52506
0      1994
Name: UBICACION_CASILLA, dtype: int64

`LISTA_NOMINAL` - Número de ciudadanos con derecho a votar que integran la lista nominal de las Actas PREP contabilizadas.

In [451]:
df_copy.LISTA_NOMINAL.value_counts().head()

-      1994
0      1051
677     625
719     625
721     605
Name: LISTA_NOMINAL, dtype: int64

In [452]:
df_copy.LISTA_NOMINAL.replace({'Sin dato': -1,
                               'Ilegible': -1,
                               '-':-1}, inplace=True)
df_copy.LISTA_NOMINAL.value_counts().head()

-1     1994
0      1051
719     625
677     625
721     605
Name: LISTA_NOMINAL, dtype: int64

In [453]:
# se encuentra el promedio de los valores mayores a -1
df_copy.LISTA_NOMINAL = df_copy.LISTA_NOMINAL.astype('int64')
LISTA_NOMINAL_mean = df_copy.LISTA_NOMINAL[df_copy.LISTA_NOMINAL > -1].mean()
LISTA_NOMINAL_mean = round(LISTA_NOMINAL_mean)
LISTA_NOMINAL_mean

568

In [454]:
df_copy.LISTA_NOMINAL.replace({-1: LISTA_NOMINAL_mean}, inplace=True)
df_copy.LISTA_NOMINAL = df_copy.LISTA_NOMINAL.astype('int64')
df_copy.LISTA_NOMINAL.value_counts().head()

568    2463
0      1051
677     625
719     625
721     605
Name: LISTA_NOMINAL, dtype: int64

In [455]:
df_copy.LISTA_NOMINAL.replace({-1: LISTA_NOMINAL_mean}, inplace=True)
df_copy.LISTA_NOMINAL = df_copy.LISTA_NOMINAL.astype('int64')
df_copy.LISTA_NOMINAL.value_counts().head()

568    2463
0      1051
677     625
719     625
721     605
Name: LISTA_NOMINAL, dtype: int64

TOTAL_BOLETAS_SOBRANTES` - Total de boletas no usadas y canceladas.

In [456]:
df_copy.TOTAL_BOLETAS_SOBRANTES.value_counts().head()

-           30285
Sin dato     3603
Ilegible     1819
208           709
206           678
Name: TOTAL_BOLETAS_SOBRANTES, dtype: int64

In [457]:
df_copy.TOTAL_BOLETAS_SOBRANTES.replace({'Sin dato': -1,
                                        'Ilegible': -1,
                                        '-':-1}, inplace=True)
df_copy.TOTAL_BOLETAS_SOBRANTES.value_counts().head()

-1     35707
208      709
206      678
200      673
203      663
Name: TOTAL_BOLETAS_SOBRANTES, dtype: int64

In [458]:
# se encuentra el promedio de los valores mayores a -1
df_copy.TOTAL_BOLETAS_SOBRANTES = df_copy.TOTAL_BOLETAS_SOBRANTES.astype('int64')
TOTAL_BOLETAS_SOBRANTES_mean = df_copy.TOTAL_BOLETAS_SOBRANTES[df_copy.TOTAL_BOLETAS_SOBRANTES > -1].mean()
TOTAL_BOLETAS_SOBRANTES_mean = round(TOTAL_BOLETAS_SOBRANTES_mean)
TOTAL_BOLETAS_SOBRANTES_mean

230

In [459]:
df_copy.TOTAL_BOLETAS_SOBRANTES.replace({-1: TOTAL_BOLETAS_SOBRANTES_mean}, inplace=True)
df_copy.TOTAL_BOLETAS_SOBRANTES = df_copy.TOTAL_BOLETAS_SOBRANTES.astype('int64')
df_copy.TOTAL_BOLETAS_SOBRANTES.value_counts().head()

230    36311
208      709
206      678
200      673
203      663
Name: TOTAL_BOLETAS_SOBRANTES, dtype: int64

`TOTAL_VOTOS_SACADOS` - Tota de votos sacados de la urna

In [460]:
df_copy.TOTAL_VOTOS_SACADOS.value_counts().head()

-           30285
Sin dato     8334
0            2747
Ilegible     2036
1             582
Name: TOTAL_VOTOS_SACADOS, dtype: int64

In [461]:
df_copy.TOTAL_VOTOS_SACADOS.replace({'Sin dato': -1,
                                        'Ilegible': -1,
                                        '-':-1}, inplace=True)
df_copy.TOTAL_VOTOS_SACADOS.value_counts().head()

-1     40655
0       2747
1        582
373      527
396      522
Name: TOTAL_VOTOS_SACADOS, dtype: int64

In [462]:
# se encuentra el promedio de los valores mayores a -1
df_copy.TOTAL_VOTOS_SACADOS = df_copy.TOTAL_VOTOS_SACADOS.astype('int64')
TOTAL_VOTOS_SACADOS_mean = df_copy.TOTAL_VOTOS_SACADOS[df_copy.TOTAL_VOTOS_SACADOS > -1].mean()
TOTAL_VOTOS_SACADOS_mean = round(TOTAL_VOTOS_SACADOS_mean)
TOTAL_VOTOS_SACADOS_mean

352

In [463]:
df_copy.TOTAL_VOTOS_SACADOS.replace({-1: TOTAL_VOTOS_SACADOS_mean}, inplace=True)
df_copy.TOTAL_VOTOS_SACADOS = df_copy.TOTAL_VOTOS_SACADOS.astype('int64')
df_copy.TOTAL_VOTOS_SACADOS.value_counts().head()

352    41103
0       2747
1        582
373      527
398      522
Name: TOTAL_VOTOS_SACADOS, dtype: int64

`TOTAL_PERSONAS_VOTARON` - Total de personas que votaron

In [464]:
df_copy.TOTAL_PERSONAS_VOTARON.value_counts().head()

-           30285
Sin dato     3271
Ilegible     2206
0             856
393           568
Name: TOTAL_PERSONAS_VOTARON, dtype: int64

In [465]:
df_copy.TOTAL_PERSONAS_VOTARON.replace({'Sin dato': -1,
                                        'Ilegible': -1,
                                        '-':-1}, inplace=True)
df_copy.TOTAL_PERSONAS_VOTARON.value_counts().head()

-1     35762
0        856
393      568
375      562
394      560
Name: TOTAL_PERSONAS_VOTARON, dtype: int64

In [466]:
# se encuentra el promedio de los valores mayores a -1
df_copy.TOTAL_PERSONAS_VOTARON = df_copy.TOTAL_PERSONAS_VOTARON.astype('int64')
TOTAL_PERSONAS_VOTARON_mean = df_copy.TOTAL_PERSONAS_VOTARON[df_copy.TOTAL_PERSONAS_VOTARON > -1].mean()
TOTAL_PERSONAS_VOTARON_mean = round(TOTAL_PERSONAS_VOTARON_mean)
TOTAL_PERSONAS_VOTARON_mean

357

In [467]:
df_copy.TOTAL_PERSONAS_VOTARON.replace({-1: TOTAL_PERSONAS_VOTARON_mean}, inplace=True)
df_copy.TOTAL_PERSONAS_VOTARON = df_copy.TOTAL_PERSONAS_VOTARON.astype('int64')
df_copy.TOTAL_PERSONAS_VOTARON.value_counts().head()

357    36278
0        856
393      568
375      562
350      560
Name: TOTAL_PERSONAS_VOTARON, dtype: int64

`NO_REGISTRADOS` - Número de votos para candidatos no registrados

In [468]:
df_copy.NO_REGISTRADOS.value_counts().head()

0           93020
-           30285
Sin dato    16154
1           11094
Ilegible     2706
Name: NO_REGISTRADOS, dtype: int64

In [469]:
df_copy.NO_REGISTRADOS.replace({'Sin dato': -1,
                                        'Ilegible': -1,
                                        '-':-1}, inplace=True)
df_copy.NO_REGISTRADOS.value_counts().head()

0     93020
-1    49145
1     11094
2      2364
3       656
Name: NO_REGISTRADOS, dtype: int64

In [470]:
# se encuentra el promedio de los valores mayores a -1
df_copy.NO_REGISTRADOS = df_copy.NO_REGISTRADOS.astype('int64')
NO_REGISTRADOS_mean = df_copy.NO_REGISTRADOS[df_copy.NO_REGISTRADOS > -1].mean()
NO_REGISTRADOS_mean = round(NO_REGISTRADOS_mean)
NO_REGISTRADOS_mean

1

In [471]:
df_copy.NO_REGISTRADOS.replace({-1: NO_REGISTRADOS_mean}, inplace=True)
df_copy.NO_REGISTRADOS = df_copy.NO_REGISTRADOS.astype('int64')
df_copy.NO_REGISTRADOS.value_counts().head()

0    93020
1    60239
2     2364
3      656
4      285
Name: NO_REGISTRADOS, dtype: int64

`NULOS` - Número de votos nulos

In [472]:
df_copy.NULOS.value_counts().head()

-    30285
6    10107
7    10070
8     9971
5     9292
Name: NULOS, dtype: int64

In [473]:
df_copy.NULOS.replace({'Sin dato': -1,
                                        'Ilegible': -1,
                                        '-':-1}, inplace=True)
df_copy.NULOS.value_counts().head()

-1    35304
6     10107
7     10070
8      9971
5      9292
Name: NULOS, dtype: int64

In [474]:
# se encuentra el promedio de los valores mayores a -1
df_copy.NULOS = df_copy.NULOS.astype('int64')
NULOS_mean = df_copy.NULOS[df_copy.NULOS > -1].mean()
NULOS_mean = round(NULOS_mean)
NULOS_mean

11

In [475]:
df_copy.NULOS.replace({-1: NULOS_mean}, inplace=True)
df_copy.NULOS = df_copy.NULOS.astype('int64')
df_copy.NULOS.value_counts().head()

11    42460
6     10107
7     10070
8      9971
5      9292
Name: NULOS, dtype: int64

`TOTAL_VOTOS_ASENTADO` - Se refiere al total de votos asentado en el Acta PREP.

In [476]:
df_copy.TOTAL_VOTOS_ASENTADO.value_counts().head()

-           30285
Sin dato     4149
Ilegible     2922
374           558
381           548
Name: TOTAL_VOTOS_ASENTADO, dtype: int64

In [477]:
df_copy.TOTAL_VOTOS_ASENTADO.replace({'Sin dato': -1,
                                        'Ilegible': -1,
                                        '-':-1}, inplace=True)
df_copy.TOTAL_VOTOS_ASENTADO.value_counts().head()

-1     37356
374      558
381      548
398      547
364      546
Name: TOTAL_VOTOS_ASENTADO, dtype: int64

In [478]:
# se encuentra el promedio de los valores mayores a -1
df_copy.TOTAL_VOTOS_ASENTADO = df_copy.TOTAL_VOTOS_ASENTADO.astype('int64')
TOTAL_VOTOS_ASENTADO_mean = df_copy.TOTAL_VOTOS_ASENTADO[df_copy.TOTAL_VOTOS_ASENTADO > -1].mean()
TOTAL_VOTOS_ASENTADO_mean = round(TOTAL_VOTOS_ASENTADO_mean)
TOTAL_VOTOS_ASENTADO_mean

363

In [479]:
df_copy.TOTAL_VOTOS_ASENTADO.replace({-1: TOTAL_VOTOS_ASENTADO_mean}, inplace=True)
df_copy.TOTAL_VOTOS_ASENTADO = df_copy.TOTAL_VOTOS_ASENTADO.astype('int64')
df_copy.TOTAL_VOTOS_ASENTADO.value_counts().head()

363    37829
374      558
381      548
398      547
364      546
Name: TOTAL_VOTOS_ASENTADO, dtype: int64

`TOTAL_VOTOS_CALCULADO` - Suma de los votos asentados en las actas PREP, para: los partidos políticos, combinaciones de estos, candidatos independientes, votos para candidatos no registrados y votos nulos. El total de votos se calcula mediante la suma que realiza automáticamente el sistema informático del PREP.

In [480]:
df_copy.TOTAL_VOTOS_CALCULADO.value_counts().head()

-      30285
0       2188
364      577
386      576
398      565
Name: TOTAL_VOTOS_CALCULADO, dtype: int64

In [481]:
df_copy.TOTAL_VOTOS_CALCULADO.replace({'Sin dato': -1,
                                        'Ilegible': -1,
                                        '-':-1}, inplace=True)
df_copy.TOTAL_VOTOS_CALCULADO.value_counts().head()

-1     30285
0       2188
364      577
386      576
398      565
Name: TOTAL_VOTOS_CALCULADO, dtype: int64

In [482]:
# se encuentra el promedio de los valores mayores a -1
df_copy.TOTAL_VOTOS_CALCULADO = df_copy.TOTAL_VOTOS_CALCULADO.astype('int64')
TOTAL_VOTOS_CALCULADO_mean = df_copy.TOTAL_VOTOS_CALCULADO[df_copy.TOTAL_VOTOS_CALCULADO > -1].mean()
TOTAL_VOTOS_CALCULADO_mean = round(TOTAL_VOTOS_CALCULADO_mean)
TOTAL_VOTOS_CALCULADO_mean

357

In [483]:
df_copy.TOTAL_VOTOS_CALCULADO.replace({-1: TOTAL_VOTOS_CALCULADO_mean}, inplace=True)
df_copy.TOTAL_VOTOS_CALCULADO = df_copy.TOTAL_VOTOS_CALCULADO.astype('int64')
df_copy.TOTAL_VOTOS_CALCULADO.value_counts().head()

357    30817
0       2188
364      577
386      576
398      565
Name: TOTAL_VOTOS_CALCULADO, dtype: int64

## Número de votos por partido político
* `PAN` - Número de votos para el Partido Acción Nacional
* `PRI` - Número de votos para el Partido Revolucionario Institucional
* `PRD` - Número de votos para el Partido de la Revolución Democrática
* `PVEM` - Número de votos para el Partido Verde Ecologista de México
* `PT` - Número de votos para el Partido del Trabajo
* `MC` - Número de votos para Partido Movimiento Ciudadano
* `PANAL` - Número de votos para Partido Nueva Alianza
* `MORENA` - Número de votos para Partido Morena
* `PES` - Número de votos para Partido Encuentro Social

`PAN` - Número de votos para el Partido Acción Nacional

In [484]:
df_copy.PAN.value_counts().head()

-           30285
Ilegible     2102
34           1527
36           1514
40           1513
Name: PAN, dtype: int64

In [485]:
df_copy.PAN.replace({'Sin dato': -1,
                     'Ilegible': -1,
                     '-':-1}, inplace=True)
df_copy.PAN.value_counts().head()

-1    33104
34     1527
36     1514
40     1513
38     1501
Name: PAN, dtype: int64

In [486]:
# se encuentra el promedio de los valores mayores a -1
df_copy.PAN = df_copy.PAN.astype('int64')
PAN_mean = df_copy.PAN[df_copy.PAN > -1].mean()
PAN_mean = round(PAN_mean)
PAN_mean

64

In [487]:
df_copy.PAN.replace({-1: PAN_mean}, inplace=True)
df_copy.PAN = df_copy.PAN.astype('int64')
df_copy.PAN.value_counts().head()

64    34122
34     1527
36     1514
40     1513
38     1501
Name: PAN, dtype: int64

`PRI` - Número de votos para el Partido Revolucionario Institucional

In [488]:
df_copy.PRI.value_counts().head()

-     30285
29     2401
34     2392
32     2375
36     2361
Name: PRI, dtype: int64

In [489]:
df_copy.PRI.replace({'Sin dato': -1,
                     'Ilegible': -1,
                     '-':-1}, inplace=True)
df_copy.PRI.value_counts().head()

-1    33012
29     2401
34     2392
32     2375
36     2361
Name: PRI, dtype: int64

In [490]:
# se encuentra el promedio de los valores mayores a -1
df_copy.PRI = df_copy.PRI.astype('int64')
PRI_mean = df_copy.PRI[df_copy.PRI > -1].mean()
PRI_mean = round(PRI_mean)
PRI_mean

48

In [491]:
df_copy.PRI.replace({-1: PRI_mean}, inplace=True)
df_copy.PRI = df_copy.PRI.astype('int64')
df_copy.PRI.value_counts().head()

48    34761
29     2401
34     2392
32     2375
36     2361
Name: PRI, dtype: int64

`PRD` - Número de votos para el Partido de la Revolución Democrática

In [492]:
df_copy.PRD.value_counts().head()

-    30285
2    16921
1    16749
3    14008
0    10660
Name: PRD, dtype: int64

In [493]:
df_copy.PRD.replace({'Sin dato': -1,
                     'Ilegible': -1,
                     '-':-1}, inplace=True)
df_copy.PRD.value_counts().head()

-1    34451
2     16921
1     16749
3     14008
0     10660
Name: PRD, dtype: int64

In [494]:
# se encuentra el promedio de los valores mayores a -1
df_copy.PRD = df_copy.PRD.astype('int64')
PRD_mean = df_copy.PRD[df_copy.PRD > -1].mean()
PRD_mean = round(PRD_mean)
PRD_mean

10

In [495]:
df_copy.PRD.replace({-1: PRD_mean}, inplace=True)
df_copy.PRD = df_copy.PRD.astype('int64')
df_copy.PRD.value_counts().head()

10    36898
2     16921
1     16749
3     14008
0     10660
Name: PRD, dtype: int64

`PVEM` - Número de votos para el Partido Verde Ecologista de México

In [496]:
df_copy.PVEM.value_counts().head()

-    30285
1    23295
2    21728
3    16730
0    15941
Name: PVEM, dtype: int64

In [497]:
df_copy.PVEM.replace({'Sin dato': -1,
                      'Ilegible': -1,
                      '-':-1}, inplace=True)
df_copy.PVEM.value_counts().head()

-1    34789
1     23295
2     21728
3     16730
0     15941
Name: PVEM, dtype: int64

In [498]:
# se encuentra el promedio de los valores mayores a -1
df_copy.PVEM = df_copy.PVEM.astype('int64')
PVEM_mean = df_copy.PVEM[df_copy.PVEM > -1].mean()
PVEM_mean = round(PVEM_mean)
PVEM_mean

6

In [499]:
df_copy.PVEM.replace({-1: PVEM_mean}, inplace=True)
df_copy.PVEM = df_copy.PVEM.astype('int64')
df_copy.PVEM.value_counts().head()

6    39741
1    23295
2    21728
3    16730
0    15941
Name: PVEM, dtype: int64

`PT` - Número de votos para el Partido del Trabajo

In [500]:
df_copy.PT.value_counts().head()

-     30285
12     6048
13     6014
14     5895
11     5848
Name: PT, dtype: int64

In [501]:
df_copy.PT.replace({'Sin dato': -1,
                    'Ilegible': -1,
                    '-':-1}, inplace=True)
df_copy.PT.value_counts().head()

-1    33764
12     6048
13     6014
14     5895
11     5848
Name: PT, dtype: int64

In [502]:
# se encuentra el promedio de los valores mayores a -1
df_copy.PT = df_copy.PT.astype('int64')
PT_mean = df_copy.PT[df_copy.PT > -1].mean()
PT_mean = round(PT_mean)
PT_mean

18

In [503]:
df_copy.PT.replace({-1: PT_mean}, inplace=True)
df_copy.PT = df_copy.PT.astype('int64')
df_copy.PT.value_counts().head()

18    38516
12     6048
13     6014
14     5895
11     5848
Name: PT, dtype: int64

`MC` - Número de votos para Partido Movimiento Ciudadano

In [504]:
df_copy.MC.value_counts().head()

-    30285
2    22780
1    21733
3    18467
0    13138
Name: MC, dtype: int64

In [505]:
df_copy.MC.replace({'Sin dato': -1,
                    'Ilegible': -1,
                    '-':-1}, inplace=True)
df_copy.MC.value_counts().head()

-1    34671
2     22780
1     21733
3     18467
0     13138
Name: MC, dtype: int64

In [506]:
# se encuentra el promedio de los valores mayores a -1
df_copy.MC = df_copy.MC.astype('int64')
MC_mean = df_copy.MC[df_copy.MC > -1].mean()
MC_mean = round(MC_mean)
MC_mean

6

In [507]:
df_copy.MC.replace({-1: MC_mean}, inplace=True)
df_copy.MC = df_copy.MC.astype('int64')
df_copy.MC.value_counts().head()

6    39988
2    22780
1    21733
3    18467
0    13138
Name: MC, dtype: int64

`PANAL` - Número de votos para Partido Nueva Alianza

In [508]:
df_copy.PANAL.value_counts().head()

1    31098
-    30285
2    24635
0    23485
3    15964
Name: PANAL, dtype: int64

In [509]:
df_copy.PANAL.replace({'Sin dato': -1,
                       'Ilegible': -1,
                       '-':-1}, inplace=True)
df_copy.PANAL.value_counts().head()

-1    35321
1     31098
2     24635
0     23485
3     15964
Name: PANAL, dtype: int64

In [510]:
# se encuentra el promedio de los valores mayores a -1
df_copy.PANAL = df_copy.PANAL.astype('int64')
PANAL_mean = df_copy.PANAL[df_copy.PANAL > -1].mean()
PANAL_mean = round(PANAL_mean)
PANAL_mean

4

In [511]:
df_copy.PANAL.replace({-1: PANAL_mean}, inplace=True)
df_copy.PANAL = df_copy.PANAL.astype('int64')
df_copy.PANAL.value_counts().head()

4    44619
1    31098
2    24635
0    23485
3    15964
Name: PANAL, dtype: int64

`MORENA` - Número de votos para Partido Morena

In [512]:
df_copy.MORENA.value_counts().head()

-           30285
Ilegible     2275
Sin dato      708
148           647
152           641
Name: MORENA, dtype: int64

In [513]:
df_copy.MORENA.replace({'Sin dato': -1,
                        'Ilegible': -1,
                        '-':-1}, inplace=True)
df_copy.MORENA.value_counts().head()

-1     33268
148      647
152      641
193      636
149      636
Name: MORENA, dtype: int64

In [514]:
# se encuentra el promedio de los valores mayores a -1
df_copy.MORENA = df_copy.MORENA.astype('int64')
MORENA_mean = df_copy.MORENA[df_copy.MORENA > -1].mean()
MORENA_mean = round(MORENA_mean)
MORENA_mean

157

In [515]:
df_copy.MORENA.replace({-1: MORENA_mean}, inplace=True)
df_copy.MORENA = df_copy.MORENA.astype('int64')
df_copy.MORENA.value_counts().head()

157    33860
148      647
152      641
149      636
193      636
Name: MORENA, dtype: int64

`PES` - Número de votos para Partido Encuentro Social

In [516]:
df_copy.MORENA.value_counts().head()

157    33860
148      647
152      641
149      636
193      636
Name: MORENA, dtype: int64

In [517]:
list_selec_00 = ['ESTADO', 'DISTRITO_FEDERAL', 'TIPO_CASILLA', 'UBICACION_CASILLA']
list_selec_01 = ['LISTA_NOMINAL', 'TOTAL_BOLETAS_SOBRANTES', 'TOTAL_VOTOS_SACADOS', 'TOTAL_PERSONAS_VOTARON', 'NO_REGISTRADOS', 'NULOS', 'TOTAL_VOTOS_ASENTADO', 'TOTAL_VOTOS_CALCULADO']
list_select_02 = ['PAN', 'PRI', 'PRD', 'PVEM', 'PT', 'MC', 'PANAL', 'MORENA', 'PES','TOTAL_PERSONAS_VOTARON', 'TOTAL_VOTOS_ASENTADO', 'TOTAL_VOTOS_CALCULADO']

In [518]:
df_votos = df_copy.groupby(['ESTADO', 'DISTRITO_FEDERAL'])[list_select_02].mean()
df_votos = df_votos.astype('int64')
df_votos

                                                PAN  PRI  PRD  PVEM  PT  MC  \
ESTADO              DISTRITO_FEDERAL
AGUASCALIENTES      Aguascalientes               96   51    4     3  13   3
                    Jesús María                  96   62    7     6  18   3
BAJA CALIFORNIA     Ensenada                     51   27    5     2  20   2
                    Mexicali                     60   31    4     3  14   3
                    Tijuana                      52   28    4     3  15   3
BAJA CALIFORNIA SUR La Paz                       57   36    4     4  15   3
                    San José del Cabo            54   21    3     4  32   2
CAMPECHE            Ciudad del Carmen            47   54    7     3  19   4
                    San Francisco de Campeche    48   69    5     4  25   4
CHIAPAS             Bochil                       35   70   12    40  25   7
                    Comitán de Domínguez         27   51    6    33  28   5
                    Huehuetán                    27   49   10    23  36   5
                    Las Margaritas               18   47   40    72  23   4
                    Ocosingo                     25   37    5    48  20   8
                    Palenque                     29   36    6    42  26   7
                    Pichucalco                   36   41    7    22  23   6
                    San Cristóbal de las Casas   25   74    8    21  21   5
                    Tapachula                    31   36    4    12  18   3
                    Tonalá                       35   37    6    17  23   4
                    Tuxtla Gutiérrez             30   28    6     9  20   5
                    Villaflores                  30   41    5    33  25   6
CHIHUAHUA           Chihuahua                   106   39    4     3  13   3
                    Cuauhtémoc                   57   42    5     4  15   6
                    Delicias                     76   45    5     3  19   3
                    Hidalgo del Parral           68   62    6     5  15   4
                    Juárez                       53   36    5     4  16   4
CIUDAD DE MÉXICO    Azcapotzalco                 72   42    9     2  13   3
                    Benito Juárez               152   62    3     2   8   2
                    Coyoacán                     83   47   23     2  13   2
                    Cuajimalpa de Morelos       101   54   16     2  15   3
...                                             ...  ...  ...   ...  ..  ..
TAMAULIPAS          Tampico                      93   39    4     3  16   2
TLAXCALA            Apizaco                      42   48    4     3  26   3
                    Tlaxcala de Xicohténcatl     40   44    6     3  23   3
                    Zacatelco                    33   37    5     2  25   3
VERACRUZ            Coatepec                     95   51   12     2  11   3
                    Coatzacoalcos                41   29    4     1   8   2
                    Cosamaloapan                 75   34   11     2  12   3
                    Cosoleacaque                 51   42   11     2  11   4
                    Córdoba                      73   41    5     2  11   3
                    Huatusco                     88   42    7     4  11   3
                    Martínez de la Torre         65   38    7     4  10   7
                    Minatitlán                   54   31    8     2  12   3
                    Orizaba                      72   37   12     4  11   4
                    Papantla de Olarte           68   42   19     6  12   9
                    Poza Rica de Hidalgo         53   35   21     2  11   2
                    Pánuco                       83   41    6     5  12   4
                    San Andrés Tuxtla            76   31   17     7  10   4
                    Tantoyuca                    98   48   21    13  14   7
                    Tuxpam de Rodríguez Cano     84   42    5     4  10   3
                    Veracruz                    110   29    4     3  10   2
                    Xalapa                       84   38    8     3  10   3
                    Zongolica                    71   49   18     5  16   8
YUCATÁN             Mérida                      100   72    3     2  14   2
                    Progreso                     89   90    8    12  17   5
                    Ticul                        87   98   15     8  21   8
                    Valladolid                   92  109    6     9  13   5
ZACATECAS           Fresnillo                    48   49    9     5  24   3
                    Guadalupe                    46   68   13     5  24   5
                    Jeréz de García Salinas      52   47   12    11  19   4
                    Zacatecas                    45   54    7     8  23   3

                                                PANAL  MORENA  \
ESTADO              DISTRITO_FEDERAL
AGUASCALIENTES      Aguascalientes                  3     117
                    Jesús María                     6     115
BAJA CALIFORNIA     Ensenada                        2     159
                    Mexicali                        2     153
                    Tijuana                         2     167
BAJA CALIFORNIA SUR La Paz                          2     157
                    San José del Cabo               2     150
CAMPECHE            Ciudad del Carmen               4     180
                    San Francisco de Campeche       4     174
CHIAPAS             Bochil                          5     143
                    Comitán de Domínguez            7     178
                    Huehuetán                       7     151
                    Las Margaritas                  4     110
                    Ocosingo                       10     158
                    Palenque                        7     185
                    Pichucalco                      5     190
                    San Cristóbal de las Casas      4     191
                    Tapachula                       3     203
                    Tonalá                          5     183
                    Tuxtla Gutiérrez                3     225
                    Villaflores                     7     180
CHIHUAHUA           Chihuahua                       2     110
                    Cuauhtémoc                      3     115
                    Delicias                        6     112
                    Hidalgo del Parral              3     100
                    Juárez                          3     123
CIUDAD DE MÉXICO    Azcapotzalco                    2     188
                    Benito Juárez                   2     156
                    Coyoacán                        2     194
                    Cuajimalpa de Morelos           1     183
...                                               ...     ...
TAMAULIPAS          Tampico                         2     158
TLAXCALA            Apizaco                         2     188
                    Tlaxcala de Xicohténcatl        3     229
                    Zacatelco                       3     220
VERACRUZ            Coatepec                        2     163
                    Coatzacoalcos                   3     223
                    Cosamaloapan                    2     160
                    Cosoleacaque                    2     199
                    Córdoba                         2     198
                    Huatusco                        2     157
                    Martínez de la Torre            2     160
                    Minatitlán                      2     179
                    Orizaba                         1     184
                    Papantla de Olarte              3     155
                    Poza Rica de Hidalgo            2     195
                    Pánuco                          3     134
                    San Andrés Tuxtla               3     156
                    Tantoyuca                       3     127
                    Tuxpam de Rodríguez Cano        2     169
                    Veracruz                        2     147
                    Xalapa                          2     179
                    Zongolica                       3     164
YUCATÁN             Mérida                          2     152
                    Progreso                        6     146
                    Ticul                           9     144
                    Valladolid                      5     147
ZACATECAS           Fresnillo                       3     120
                    Guadalupe                       3     145
                    Jeréz de García Salinas         3      82
                    Zacatecas                      10     128

                                                TOTAL_PERSONAS_VOTARON  \
ESTADO              DISTRITO_FEDERAL
AGUASCALIENTES      Aguascalientes                                 340
                    Jesús María                                    360
BAJA CALIFORNIA     Ensenada                                       322
                    Mexicali                                       320
                    Tijuana                                        318
BAJA CALIFORNIA SUR La Paz                                         327
                    San José del Cabo                              311
CAMPECHE            Ciudad del Carmen                              363
                    San Francisco de Campeche                      382
CHIAPAS             Bochil                                         387
                    Comitán de Domínguez                           393
                    Huehuetán                                      359
                    Las Margaritas                                 364
                    Ocosingo                                       358
                    Palenque                                       399
                    Pichucalco                                     379
                    San Cristóbal de las Casas                     391
                    Tapachula                                      357
                    Tonalá                                         354
                    Tuxtla Gutiérrez                               375
                    Villaflores                                    380
CHIHUAHUA           Chihuahua                                      336
                    Cuauhtémoc                                     292
                    Delicias                                       315
                    Hidalgo del Parral                             314
                    Juárez                                         297
CIUDAD DE MÉXICO    Azcapotzalco                                   387
                    Benito Juárez                                  431
                    Coyoacán                                       421
                    Cuajimalpa de Morelos                          432
...                                                                ...
TAMAULIPAS          Tampico                                        368
TLAXCALA            Apizaco                                        367
                    Tlaxcala de Xicohténcatl                       398
                    Zacatelco                                      381
VERACRUZ            Coatepec                                       379
                    Coatzacoalcos                                  343
                    Cosamaloapan                                   335
                    Cosoleacaque                                   354
                    Córdoba                                        377
                    Huatusco                                       349
                    Martínez de la Torre                           328
                    Minatitlán                                     324
                    Orizaba                                        371
                    Papantla de Olarte                             346
                    Poza Rica de Hidalgo                           369
                    Pánuco                                         329
                    San Andrés Tuxtla                              343
                    Tantoyuca                                      362
                    Tuxpam de Rodríguez Cano                       356
                    Veracruz                                       350
                    Xalapa                                         368
                    Zongolica                                      376
YUCATÁN             Mérida                                         393
                    Progreso                                       412
                    Ticul                                          417
                    Valladolid                                     415
ZACATECAS           Fresnillo                                      307
                    Guadalupe                                      349
                    Jeréz de García Salinas                        266
                    Zacatecas                                      321

                                                TOTAL_VOTOS_ASENTADO  \
ESTADO              DISTRITO_FEDERAL
AGUASCALIENTES      Aguascalientes                               348
                    Jesús María                                  365
BAJA CALIFORNIA     Ensenada                                     326
                    Mexicali                                     325
                    Tijuana                                      324
BAJA CALIFORNIA SUR La Paz                                       334
                    San José del Cabo                            319
CAMPECHE            Ciudad del Carmen                            368
                    San Francisco de Campeche                    387
CHIAPAS             Bochil                                       393
                    Comitán de Domínguez                         397
                    Huehuetán                                    366
                    Las Margaritas                               368
                    Ocosingo                                     363
                    Palenque                                     401
                    Pichucalco                                   388
                    San Cristóbal de las Casas                   399
                    Tapachula                                    362
                    Tonalá                                       361
                    Tuxtla Gutiérrez                             384
                    Villaflores                                  384
CHIHUAHUA           Chihuahua                                    340
                    Cuauhtémoc                                   299
                    Delicias                                     322
                    Hidalgo del Parral                           320
                    Juárez                                       302
CIUDAD DE MÉXICO    Azcapotzalco                                 392
                    Benito Juárez                                438
                    Coyoacán                                     423
                    Cuajimalpa de Morelos                        436
...                                                              ...
TAMAULIPAS          Tampico                                      375
TLAXCALA            Apizaco                                      375
                    Tlaxcala de Xicohténcatl                     408
                    Zacatelco                                    384
VERACRUZ            Coatepec                                     384
                    Coatzacoalcos                                353
                    Cosamaloapan                                 339
                    Cosoleacaque                                 358
                    Córdoba                                      383
                    Huatusco                                     355
                    Martínez de la Torre                         335
                    Minatitlán                                   330
                    Orizaba                                      376
                    Papantla de Olarte                           352
                    Poza Rica de Hidalgo                         374
                    Pánuco                                       333
                    San Andrés Tuxtla                            348
                    Tantoyuca                                    368
                    Tuxpam de Rodríguez Cano                     359
                    Veracruz                                     357
                    Xalapa                                       375
                    Zongolica                                    384
YUCATÁN             Mérida                                       399
                    Progreso                                     414
                    Ticul                                        422
                    Valladolid                                   421
ZACATECAS           Fresnillo                                    314
                    Guadalupe                                    357
                    Jeréz de García Salinas                      274
                    Zacatecas                                    325

                                                TOTAL_VOTOS_CALCULADO
ESTADO              DISTRITO_FEDERAL
AGUASCALIENTES      Aguascalientes                                334
                    Jesús María                                   361
BAJA CALIFORNIA     Ensenada                                      323
                    Mexicali                                      319
                    Tijuana                                       316
BAJA CALIFORNIA SUR La Paz                                        327
                    San José del Cabo                             304
CAMPECHE            Ciudad del Carmen                             366
                    San Francisco de Campeche                     384
CHIAPAS             Bochil                                        385
                    Comitán de Domínguez                          393
                    Huehuetán                                     366
                    Las Margaritas                                370
                    Ocosingo                                      363
                    Palenque                                      403
                    Pichucalco                                    377
                    San Cristóbal de las Casas                    399
                    Tapachula                                     363
                    Tonalá                                        360
                    Tuxtla Gutiérrez                              380
                    Villaflores                                   383
CHIHUAHUA           Chihuahua                                     330
                    Cuauhtémoc                                    282
                    Delicias                                      305
                    Hidalgo del Parral                            335
                    Juárez                                        292
CIUDAD DE MÉXICO    Azcapotzalco                                  386
                    Benito Juárez                                 431
                    Coyoacán                                      415
                    Cuajimalpa de Morelos                         433
...                                                               ...
TAMAULIPAS          Tampico                                       370
TLAXCALA            Apizaco                                       372
                    Tlaxcala de Xicohténcatl                      405
                    Zacatelco                                     379